
.loginInputCover{
    /* border: 1px solid red; */
    height: 90%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    
}

.formTitle{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 12%;
  
}

.inputField{
    /* border: 1px solid white; */
    padding: 0.5rem;
    display: flex;
  
}

.inputField input{
    padding: 8px;
    border-radius: 5px;
    margin: 4px;
    width: 100%;
    background-color: #3C364C;
    box-shadow: 2px 2px 3px 0.3px #6463662d;
    color: aliceblue;
    transition: border 2s ;
    border: none;
}

.inputField input:hover{
    border: 1px solid #4f4764 ;
}

.inputField input:focus{
    border: 2px solid #4f4764 ;
}

.loginInputCover button{
    margin: 20px;
    width: 90%;
    min-height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    background-color: #6D54B5;
    color: aliceblue;

}

.otherSignInCover{
    /* border: 1px solid white; */
    width: 90%;
    margin: 10px 0 0 20px;
    min-height: 20%;
    display: flex;
    flex-direction: column;
}



.otherText{
    /* border: 1px solid whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.otherButtons{
    display: flex;
    width: 100%;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    height: 55%;
    
}

.otherButtons button{
    background-color: transparent;
    border: 1px solid #595464;
    height: 65%;
    width: 100%;
    display: flex;
    padding: 7px;
    justify-content: center;
    align-items: center;
   
}

.optionImgCover{
    /* border: 1px solid white; */
    height: 100%;
    width: 100%;
    flex: 1;
    

    
    
}

.otherButtons button img{
    object-fit: contain;
    height: 10px;
    height: 90%;
    width: 100%;
}

.otherButtons button p{
    flex: 2.5;
}


h2{
    font-weight: 400;
}

p{
font-size: 12px;
opacity: 50%;
}
